<html>
    <head>
    </head>
    <body>
        <h1>Basic Rails application showcasing React with Typescript</h1>
        
        <div id="ReactForm"></div>   
        
        <div id="CustomComponent"></div>
    </body>
    <%=javascript_pack_tag 'app'%>
</html>

